@page "/"

<!DOCTYPE HTML>
<html lang="en">

<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Samuel Nettey - IT Consultant</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="css/reset.css">
    <link type="text/css" rel="stylesheet" href="css/plugins.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
    <!--================= main start ================-->
    <div id="main">
        <!--=============== header ===============-->
        <header>
            <div class="logo-holder">
                <a href="index.html"><img src="images/samuelnettey.jpg" class="respimg" alt=""></a>
            </div>
            <div class="nav-button">
                <span class="nos"></span>
                <span class="ncs"></span>
                <span class="nbs"></span>
            </div>
        </header>
        <!-- header  end -->
        <!--=============== wrapper ===============-->
        <div id="wrapper">
            <!--=============== content-holder ===============-->
            <div class="content-holder scale-bg2">
                <!--=============== navigation ===============-->
                <div class="nav-inner isDown">
                    <div class="nav-decor nav-decor-tl"></div>
                    <div class="nav-decor nav-decor-br"></div>
                    <div class="overlay"></div>
                    <nav>
                        <ul>
                            <li class="subnav">
                                <a href="index.html" class="ajax curpage">Home</a>
                                <!-- General menu scroll navigation -->
                                <ul>
                                    <li>
                                        <a href="index.html#sec1" class="custom-scroll-link">About me</a>
                                    </li>
                                    <li>
                                        <a href="index.html#sec3" class="custom-scroll-link">Services</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a target="_blank" href="https://blogs.samuelnettey.com">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li class="subnav">
                                
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!--=============== hero-wrapper ===============-->
                <div class="hero-wrapper">
                    <div class="section-parallax" data-top-bottom="transform: translateY(250px);"
                         data-bottom-top="transform: translateY(-250px);">
                        <div class="fwslider-holder">

                            <div class="fwslider owl-carousel">
                                <div class="item full-height">
                                    <div class="bg" style="background-image:url(images/Banner-Image-2.jpg)"></div>
                                    <div class="overlay"></div>
                                    <div class="hero-title">
                                        <div class="hero-wrap" data-top-bottom="transform: translateY(-150px);"
                                             data-bottom-top="transform: translateY(150px);">
                                            <h3>HI, I AM SAMUEL NETTEY</h3>
                                            <div class="clearfix"></div>
                                            <h4>
                                                <a href="#sec1" class="custom-scroll-link">
                                                    Let's start Talking About
                                                    your next IT Project
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- hero-wrapper  end -->
                <!--=============== fixed-column ===============-->
                <div class="fixed-column">
                    <!-- animation background -->
                    <div class="bg-wrapper">
                        <div class="bg bg-scroll"></div>
                        <div class="overlay"></div>
                        <div class="bg-title"><span></span></div>
                    </div>
                </div>
                <!-- fixed-column end -->
                <!--=============== wrapper-inner  ===============-->
                <div class="wrapper-inner home-wrap">
                    <!-- scroll page navigation -->
                    <div class="scroll-nav-holder">
                        <nav class="scroll-nav">
                            <ul>
                                <li>
                                    <a class="scroll-link fbgs" href="#sec1" data-bgscr="images/pexel25.jpg"
                                       data-bgtex="about me"><span>About</span></a>
                                </li>
                                <li>
                                    <a class="scroll-link" href="#sec3" data-bgscr="images/pexel26.jpg"
                                       data-bgtex=" services"><span>Services</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- scroll page navigation end -->
                    <!--=============== content ===============-->
                    <div class="content">
                        <!-- section about -->
                        <section id="sec1">
                            <!-- container -->
                            <div class="container">
                                <div class="section-title">
                                    <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);"
                                         data-bottom-top="transform: translateY(300px);">
                                        <span>About me</span>
                                    </div>
                                    <h3>Who i am </h3>
                                    <h2>About me</h2>
                                    <div class="st-separator"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- <div class="about-iamge">
                                                <img src="image2.jpg" alt="" class="respimg">
                                            </div> -->
                                    </div>
                                    <div class="col-md-7 align-text">
                                        <div class="clearfix">
                                            <p style="">
                                                As a highly motivated and dynamic IT professional with profound
                                                expertise in IT Consultancy and Software Development,
                                                I have made significant achievements across various industries and
                                                businesses.
                                                My solid academic background and extensive professional experience in
                                                developing customer-oriented software solutions only serve to prove my
                                                high professionalism and expertise.
                                                I am renowned for my clear vision and effective leadership.
                                            </p>
                                            <p>
                                                As a CEO and Co-Founder of Scynett company operating in Germany and
                                                Ghana, I utilize my experience in developing
                                                customized software, web applications, desktop applications, mobile
                                                applications, and cloud solutions. Furthermore, I demonstrate
                                                my effective personnel supervision and guidance skills combined with
                                                excellent leadership abilities.
                                            </p>
                                        </div>

                                        <a href="portfolio.html" class="btn hide-icon">
                                            <i class="fa fa-angle-right"></i><span>Contact Me</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- container end  -->
                        </section>
            
                        <div class="section-separator"></div>
               
                        <section id="sec3">
                            <!-- container-->
                            <div class="container">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);"
                                         data-bottom-top="transform: translateY(300px);">
                                        <span>Services</span>
                                    </div>
                                    <h3>What i do</h3>
                                    <h2>Services</h2>
                                    <div class="st-separator"></div>
                                </div>
                                <!-- section title end  -->
                                <!-- 2 -->
                                <div class="carous-holder ser-carous-holder">
                                    
                                    <div class="clearfix"></div>
                                    <div class="owl-carousel services-carusel">
                                        <!-- 1 item -->
                                        <div class="item">
                                            <div class="services-box box-item-holder">
                                                <div class="grid-item-holder services-image">
                                                    <a class="image-popup box-popup" href="images/services/1.jpg">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                    <div class="folio-img">
                                                        <span class="overlay"></span>
                                                        <img src="images/1-1.webp" alt="">
                                                    </div>
                                                </div>
                                                <div class="services-box-info">
                                                    <h4>Software Development Consulting</h4>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 2 item -->
                                        <div class="item">
                                            <div class="services-box box-item-holder">
                                                <div class="grid-item-holder services-image">
                                                    <a class="image-popup box-popup" href="images/services/1.jpg">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                    <div class="folio-img">
                                                        <span class="overlay"></span>
                                                        <img src="images/2-1.webp" alt="">
                                                    </div>
                                                </div>
                                                <div class="services-box-info">
                                                    <span class="services-decor"></span>
                                                    <h4>Blazor Consulting</h4>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 3 item -->
                                        <div class="item">
                                            <div class="services-box box-item-holder">
                                                <div class="grid-item-holder services-image">
                                                    <a class="image-popup box-popup" href="images/services/1.jpg">
                                                        <i class="fa fa-expand"></i>
                                                    </a>
                                                    <div class="folio-img">
                                                        <span class="overlay"></span>
                                                        <img src="images/3-1.webp" alt="">
                                                    </div>
                                                </div>
                                                <div class="services-box-info">
                                                    <span class="services-decor"></span>
                                                    <h4>Modern Workplace</h4>
                                                    
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- container end  -->
                        </section>
                        

                    </div>

                </div>

                <!-- ================footer ==================== -->
                <div class="height-emulator"></div>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- footer social -->
                                <div class="footer-info">
                                    <h4>Find me</h4>
                                    <div class="footer-social">
                                        <ul>
                                            <li>
                                                <a href="https://twitter.com/s_nettey" target="_blank"
                                                   class="customize-unpreviewable" rel="noopener">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/samuelnettey/" target="_blank"
                                                   class="customize-unpreviewable" rel="noopener">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/s_nettey/" target="_blank"
                                                   class="customize-unpreviewable" rel="noopener">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/samuelnettey/" target="_blank"
                                                   class="customize-unpreviewable" rel="noopener">
                                                    <i class="fa fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- footer contacts -->
                                <div class="footer-info">
                                    <h4>My Location</h4>
                                    <ul class="footer-contacts">
                                        <li><a href="#"><i class="fa fa-map-marker"></i> Dortmund, Germany</a></li>
                                        <li><a href="#"> <i class="fa fa-map-marker"></i> Accra, Ghana</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <!-- titter -->
                                <div class="footer-info">
                                    <div class="footer-info">
                                        <h4>Contact Info</h4>
                                        <ul class="footer-contacts">
                                            <li><a href="#"><i class="fa fa-phone"></i> +233 59 992 9266 </a></li>
                                            <li><a href="#"><i class="fa fa-phone"></i> +49 176 63782518</a></li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope"></i>samuel.nettey@scynett.com</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--to top / privacy policy-->
                    <div class="to-top-holder">
                        <div class="container">
                            <p> <span> &#169; Samuel Nettey. </span> All rights reserved.</p>
                            <div class="to-top"> <i class="fa fa-angle-double-up"></i></div>
                        </div>
                    </div>
                </footer>
                <!-- footer end -->
            </div>
            <!-- content-holder end -->
        </div>
        <!-- wrapper end -->
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</body>

</html>
